@import url('https://fonts.cdnfonts.com/css/hywenhei');

:root{
    --yellow: #5f87b3;
    --red: #5f87b3;
    --blue: #036cb6;
}

body {
    font-family: 'hywenhei';
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.page {
    position: relative;
    height: 100vh;
    width: 100%;
}

.contenedor {
    position: absolute;
    z-index: 1;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas: "nav     aside"
                         "section aside"
                         "footer  aside";
    height: 100%;
    width: 100%;
}

.navbar{
    grid-area: nav;
    display: flex;
}

.navbar_cont{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 0 0 80px;

    animation: 2s navbar 1.5s ease-in-out;
}

@keyframes navbar {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}

.navbar_cont img{
    width: 50px ;
}

.navbar_cont ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 450px;
}

.navbar_cont ul li a{
    text-decoration: none;
    color: var(--blue);
    font-weight: 200;
}

.contenido-principal{
    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;

    animation: 2s contenido-principal 1.5s ease-in-out;
}

.contenido-principal p:first-child{
    font-size: 36px;
    font-weight: 50;
    margin: 0 0 -14px 44px;
}

.contenido-principal h1{
    font-size: 48px;
    font-weight: 200;
    margin: 0 0 28px 0px;
}

.contenido-principal p:last-child{
    font-weight: 100;
    margin: 0;
    width: 60%;
}

@keyframes contenido-principal {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}

.side-content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

    grid-area: aside;
}

.side-content p{
    transform: rotate(-90deg);
    font-size: 36px;

    grid-row: 1 / 2;
    grid-column: 1 /2;

    opacity: 0;

    animation-name: side-content-texto;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.side-content img{
    width: 750px;
    grid-column: 1 / 6;
    grid-row: 1 / 2;

    margin-left: -70px;
    animation: 2s side-content-img 0.5s ease-in-out;
}

.side-content div{
    background-color: var(--yellow);

    grid-column: 4 / 7;
    grid-row: 1 / 2;

    margin-left: -200px;
    height: 100%;
}

@keyframes side-content-img{
    0%{
        transform: translateY(600px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes side-content-texto {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    background-color: hsl(44, 91%, 65%);
    border-radius: 0 50px 0 0;
    transform: translateY(100%);

    animation-name: footer;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes footer{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0px);
    }
}

.footer div{
    background-color: hsl(24, 73%, 61%);
    width: 130px;
    height: 50%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
}

.footer div:hover img{
    cursor: pointer;
    transform: translateY(-20px) scale(1.5);
    transition: transform 0.3s ease-in-out;
}

.footer div img{    
    width: 270px;
    position: absolute;
    bottom: 20px;

    transform: translateY(0px) scale(1);
    transition: transform 0.5s ease-in-out;
}

.loader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--yellow);
    position: absolute;
    z-index: 3;

    animation: loader 3s linear forwards;
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loader div{
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;

    transform: scale(0);

    animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1){
    animation-delay: 0.2s;
}

.loader div:nth-child(2){
    animation-delay: 0.4s;
}

.loader div:nth-child(3){
    animation-delay: 0.6s;
}

@keyframes scaling {
    0%, 100%{
        transform: scale(0.2);
    }
    40%{
        transform: scale(1);
    }
    50%{
        transform: scale(1);
    }
}

.hidden{
    display: none !important;
}

.visible{
    display: grid !important;
}

.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 4;

    display: grid;
    place-items: center;
}

.modal__content{
    background-color: white;
    width: 400px;
    height: 400px;
    display: grid;
    place-items: center;
}

.modal__content--slider{
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    display: hidden;
}

.cards{
    width: 100%;
    height: 100%;
}

.cards img{
    margin-top: -10px;
    margin-left: -30px;
    width: 300px;
}

.card{
    background-color: hsl(45, 100%, 95%);;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -70px; 

    transition: transform 0.5s ease;
    cursor: pointer;
    display: grid;
    place-items: center;

    width: 220px;
    height: 300px;
}

#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3{
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1{
    transform: translateX(40%) scale(0.8);
    opacity: 1;
    z-index: 0;
}

#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 1;
    z-index: -1;
}